

  
  <div class="container">
    <div class="checkout-area">
      <form action="" method="POST">
        <div class="checkbox-form">
          <h1 class="text-center fw-bolder">ADDRESS</h1>
          <div class="row">
            <div class="col-md-6">
              <div class="checkout-form-list">
                <label>Name <span class="required">*</span></label>
                <input type="text" name="name" id="name" value="<%= address.name %>" placeholder="Your Name" />
              </div>
            </div>
  
           
            <div class="order-notes">
              <div class="checkout-form-list mrg-nn">
                <label>Address<span class="required">*</span></label>
                <input type="text" name="address" id="address" value="<%= address.address %>" placeholder="Street Address"/>
              </div>
            </div>
            <div class="col-md-6">
                <div class="checkout-form-list">
                  <label>State <span class="required">*</span></label>
                  <input type="text" name="state" value="<%=address.state %>" id="town" />
                </div>
              </div>
      
            <div class="col-md-6">
              <div class="checkout-form-list">
                <label>Town/City <span class="required">*</span></label>
                <input type="text" name="town" id="town" value="<%=address.town %>" />
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="checkout-form-list">
                <label>Postcode / Zip <span class="required">*</span></label>
                <input type="text" name="postcode" id="postcode" value="<%= address.postcode  %>" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkout-form-list">
                <label>Phone <span class="required">*</span></label>
                <input type="number" name="mobile" id="mobile" value="<%=address.mobile %>" />
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="checkout-form-list">
                <label>Email <span class="required">*</span></label>
                <input type="text" name="email" id="email" placeholder="Your email" />
              </div>
            </div> -->
          </div>
          <div class="btn">
              <button type="submit">UPDATE ADDRESS</button>
          </div>
       
        </div>
      </form>
    </div>
  </div>
  
  <style>

  
    .container {
      width: 50%;
    }
  
    .checkout-area {
      background-color: #fff;
      padding: 10%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-top: 30px;
    }
  
    .checkout-form-list label {
      font-weight: bold;
    }
  
    .checkout-form-list input,
    .checkout-form-list select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  
    .order-notes textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  
    .order-notes label {
      display: block;
      margin-bottom: 8px;
    }
  
    button {
  
    padding: 12px 24px;
    background: rgb(220, 220, 220);
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease 0.3s;
    margin: 0 auto; /* This will center the button horizontally */
  }
  
  button:hover {
    background: #000000;
    color: #ffffff;
  }
    .btn {
      display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center;
    }
  
    @media (max-width: 768px) {
      .container {
        width: 90%;
      }
    }
  </style>
  