<!-- < include('../includes/header') %> -->


    <div class="search_area">
        <div class="search_close">
            <span><i class="fal fa-times"></i></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="search-wrapper text-center">
                        <h2>search</h2>
                        <div class="search-filtering pt-30">
                            <div class="search_tab">
                                <ul class="nav nav-tabs justify-content-center mb-55" id="myTab2" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab2" data-bs-toggle="tab"
                                            data-bs-target="#home2" type="button" role="tab" aria-selected="true">All
                                            categories</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab2" data-bs-toggle="tab"
                                            data-bs-target="#profile2" type="button" role="tab"
                                            aria-selected="false">Basketball</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact2"
                                            type="button" role="tab" aria-selected="false">Handbag</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="sportswear-tab" data-bs-toggle="tab"
                                            data-bs-target="#sportswear" type="button" role="tab"
                                            aria-selected="false">Sportswear</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div class="tab-pane fade show active" id="home2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="profile2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="contact2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="sportswear" role="tabpanel">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main_search">
                            <form action="#">
                                <input type="text" name="search" placeholder="search products">
                                <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fix">
        <div class="side-info">
            <button class="side-info-close"><i class="fal fa-times"></i></button>
            <div class="side-info-content">
                <div class="mobile-menu"></div>
                <div class="contact-infos mb-30">
                    <div class="contact-list mb-30">
                        <h4>Office Address</h4>
                        <p>123/A, Miranda City Likaoli
                            Prikano, Dope</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Phone Number</h4>
                        <p>+0989 7876 9865 9</p>
                        <p>+(090) 8765 86543 85</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Email Address</h4>
                        <p><a href="https://wphix.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="fa93949c95ba9f829b978a969fd4999597">[email&#160;protected]</a></p>
                        <p><a href="https://wphix.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="a4c1dcc5c9d4c8c18ac9c5cdc8e4ccd1c98ac7cbc9">[email&#160;protected]</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>

    <!-- cart area start  -->
    <div class="cart__sidebar">
        <div class="container">
            <div class="cart__content">
                <div class="cart-text">
                    <h3 class="mb-40">Shopping cart</h3>
                    <div class="add_cart_product">
                        <div class="add_cart_product__thumb">
                            <img src="/user/assets/img/product/29-3.jpg" alt="">
                        </div>
                        <div class="add_cart_product__content">
                            <h5><a href="shop.html">Running 3-Stripes</a></h5>
                            <p>1 × $66.00</p>
                            <button class="cart_close"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                    <div class="add_cart_product">
                        <div class="add_cart_product__thumb">
                            <img src="/user/assets/img/product/17.jpg" alt="">
                        </div>
                        <div class="add_cart_product__content">
                            <h5><a href="shop.html">Buddy non Stripes</a></h5>
                            <p>1 × $40.00</p>
                            <button class="cart_close"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="cart-icon">
                    <i class="fal fa-times"></i>
                </div>
                <div class="cart-bottom">
                    <div class="cart-bottom__text">
                        <span>Subtotal:</span>
                        <span class="end">$121.00</span>
                        <a href="cart.html">view cart</a>
                        <a href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-offcanvas-overlay"></div>
    <!-- cart area end  -->

    <!-- slider start -->
    <div class="slider-active swiper-container height">
        <div class="swiper-wrapper">
            <div class="swiper-slide slider-item">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_images">
                                <img class="back" src="/user/assets/img/slider/slider-img-1.png" alt="">
                                <img class="top" src="/user/assets/img/slider/text.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slider-item">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_images">
                                <img class="back" src="/user/assets/img/slider/slider-img-1.png" alt="">
                                <img class="top" src="/user/assets/img/slider/text.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide slider-item">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_images">
                                <img class="back" src="/user/assets/img/slider/slider-img-1.png" alt="">
                                <img class="top" src="/user/assets/img/slider/text.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- slider end -->

    <!-- features area start  -->
    <!-- <div class="features-area d-none d-md-block fix">
        <div class="row g-0">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="fetures">
                    <div class="fetures__thumb fix">
                        <a href="shop"><img src="/user/assets/img/features/fe1.png" alt="features1"></a>
                    </div>
                    <div class="fetures__content">
                        <h4 class="feature-title mb-40">Sport<br> Baseball</h4>
                        <p class="d-md-none d-lg-block">all products <span class="discount"><a href="#">up to 70%
                                    off</a></span> limited time discount</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="fetures">
                    <div class="fetures__thumb fix">
                        <a href="shop"><img src="/user/assets/img/features/banner-home2.jpg" alt="features1"></a>
                    </div>
                    <div class="fetures__content pt-200">
                        <p class="d-md-none d-lg-block">Gota store with a tool that makes design simple for everyone</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="fetures">
                    <div class="fetures__thumb fix">
                        <a href="shop"><img src="/user/assets/img/features/fe3.png" alt="features1"></a>
                    </div>
                    <div class="fetures__content">
                        <h4 class="feature-title mb-40">Jacket<br>For women’s</h4>
                        <p class="d-md-none d-lg-block">all products <span class="discount"><a href="#">up to 70%
                                    off</a></span> limited time discount</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- features area end  -->

    <!-- categories area start -->
    <div class="categories_area pt-85 mb-150">
        <div class="container-fluid">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="section-wrapper text-center mb-35">
                    <h2 class="section-title">Explore Our Bestsellers</h2>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis<br> eget maecenas sed
                        urna malesuada.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="categories__tab">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home">
                                <div class="container">
                                    <div class="product-active h-2-product-active swiper-container">
                                        <div class="swiper-wrapper">

                                            <% topProduct.forEach(product=>{ %>


                                                <div class="product-item swiper-slide wow fadeInUp"
                                                    data-wow-duration="1s" data-wow-delay="0.2s">
                                                    <div class="product">
                                                        <div class="product__thumb">
                                                            <a href="/viewProduct/<%=product.id%>">
                                                                <img class="product-primary"
                                                                    src="<%= product.images[0].thumbnailUrl %>"
                                                                    alt="product_image">
                                                                <img class="product-secondary"
                                                                    src="<%= product.images[1].imageUrl %>"
                                                                    alt="product_image">
                                                            </a>
                                                            <!-- <div class="product__update">
                                                                <a class="#">new</a>
                                                            </div> -->
                                                            <div class="product-info mb-10">
                                                                <div class="product_category">
                                                                    <span><%= product?.description %></span>
                                                                </div>
                                                                <div class="product_rating">
                                                                    <a href="#"><i
                                                                            class="fal fa-star start-color"></i></a>
                                                                    <a href="#"><i
                                                                            class="fal fa-star start-color"></i></a>
                                                                    <a href="#"><i
                                                                            class="fal fa-star start-color"></i></a>
                                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="product__name">
                                                                <h4><a href="shop">
                                                                        <%= product?.title %>
                                                                    </a></h4>
                                                                <div class="pro-price">
                                                                    <p class="p-absoulute pr-1"><span>$</span><%=product?.salePrice %>
                                                                            </p>
                                                                                <a class="p-absoulute pr-2" href="#">add
                                                                                    to cart</a>
                                                                </div>
                                                            </div>
                                                            <div class="product__action">
                                                                <div class="inner__action">
                                                                    <div class="wishlist">
                                                                        <a href="#"><i class="fal fa-heart"></i></a>
                                                                    </div>
                                                                    <div class="view">
                                                                        <a href="javascript:void(0)"><i
                                                                                class="fal fa-eye"></i></a>
                                                                    </div>
                                                                    <div class="layer">
                                                                        <a href="#"><i
                                                                                class="fal fa-layer-group"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- categories area end -->

    <!-- product show case area start  -->
    <!-- <div class="show-case lightblue pt-125">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="section-wrapper text-center mb-35">
                        <h4 class="sub-title">Bestseller products</h4>
                        <h2 class="section-title text-white">Nike Air Force 1 Sage Low LX</h2>
                        <p class="d-none d-lg-block">Commodo sociosqu venenatis cras dolor sagittis integer luctus sem
                            primis<br> eget maecenas sed urna malesuada.</p>
                    </div>
                </div>
                <div class="case-info text-center">
                    <span class="offer-text d-none d-lg-block">hot deal<i class="far fa-stars"></i></span>
                    <h2 class="back1-text d-none d-lg-block">top</h2>
                    <h2 class="back-text d-none d-lg-block">limited</h2>
                    <a href="shop"><img class="banar-product" src="/user/assets/img/product/product4.png" alt=""></a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- product show case area end  -->

    <!-- new product area start -->
    <!-- <div class="new_product_area mb-80">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="section-wrapper text-center mb-35">

                                <h2 class="section-title"><a href="#">Explore Our New arrivals</a></h2>
                                <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis<br> eget
                                    maecenas sed urna malesuada.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product-active2 swiper-container">
                            <div class="swiper-wrapper">
                              <!-- < topProduct.forEach(product=>> -->
                                <!-- <div class="product-item swiper-slide  wow fadeInLeft " data-wow-duration=".9s"
                                    data-wow-delay=".3s">
                                        <div class="product product-2">
                                            <div class="product__thumb">
                                                <a href="single.html">
                                                    <img class="product-primary"
                                                        src="" alt="product_image">
                                                    <img class="product-secondary"
                                                        src="" alt="product_image">
                                                </a>
                                                <!-- <div class="product__update">
                                                    <a class="#">new</a>
                                                </div> -->
                                                <!-- <div class="product-info mb-10"> -->
                                                    <!-- <div class="product_category">
                                                        <span>Shoes, Clothing</span>
                                                    </div>
                                                    <div class="product_rating">
                                                        <a href="#"><i class="fal fa-star start-color"></i></a>
                                                        <a href="#"><i class="fal fa-star start-color"></i></a>
                                                        <a href="#"><i class="fal fa-star start-color"></i></a>
                                                        <a href="#"><i class="fal fa-star"></i></a>
                                                        <a href="#"><i class="fal fa-star"></i></a>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="product__name">
                                                    <h4><a href="shop"> <=product?.title >
                                                                 </a>
                                                    </h4>
                                                    <div class="pro-price">
                                                        <p class="p-absoulute pr-1"><span>$ <= product?.salePrice ></span>
                                                        </p>
                                                        <a class="p-absoulute pr-2" href="#">add to cart</a>
                                                    <!-- </div> -->
                                                <!-- </div>
                                                <div class="product__action">
                                                    <div class="inner__action">
                                                        <div class="wishlist">
                                                            <a href="#"><i class="fal fa-heart"></i></a> -->
                                                        <!-- </div>
                                                        <div class="view">
                                                            <a href="javascript:void(0)"><i class="fal fa-eye"></i></a>
                                                        </div>
                                                        <div class="layer">
                                                            <a href="#"><i class="fal fa-layer-group"></i></a> -->
                                                        <!-- </div>
                                                    </div>
                                                </div> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                        
                                    <!-- </div> --> 
                                    <!-- < }) > --> 

                            <!-- </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padding-left">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"></div>
                    <div class="section-wrapper text-center mb-35">
                        <h2 class="section-title">Explore Our featured</h2>
                        <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis<br> eget maecenas
                            sed urna malesuada.</p>
                    </div>
                    <div class="row">
                        <div class="product-active2 swiper-container">
                            <div class="swiper-wrapper">
                                <div class="product-item swiper-slide  wow fadeInLeft " data-wow-duration=".9s"
                                    data-wow-delay=".4s"> -->
                                    <!-- <div class="product product-2">
                                        <div class="product__thumb">
                                            <a href="single.html">
                                                <img class="product-primary" src="/user/assets/img/product/1.jpg"
                                                    alt="product_image">
                                                <img class="product-secondary" src="/user/assets/img/product/1-2.jpg"
                                                    alt="product_image">
                                            </a> -->
                                            <!-- <div class="product__update">
                                                    <a class="#">new</a>
                                                </div> -->
                                            <!-- <div class="product-info mb-10">
                                                <div class="product_category">
                                                    <span>Shoes, Clothing</span>
                                                </div>
                                                <div class="product_rating">
                                                    <a href="#"><i class="fal fa-star start-color"></i></a>
                                                    <a href="#"><i class="fal fa-star start-color"></i></a>
                                                    <a href="#"><i class="fal fa-star start-color"></i></a>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                    <a href="#"><i class="fal fa-star"></i></a>
                                                </div>
                                            </div> -->
                                            <!-- <div class="product__name">
                                                <h4><a href="shop">global 4L premium </a></h4>
                                                <div class="pro-price">
                                                    <p class="p-absoulute pr-1"><span>$</span>680.00 -
                                                        <span>$</span>680.00
                                                    </p>
                                                    <a class="p-absoulute pr-2" href="#">add to cart</a>
                                                </div>
                                            </div> -->
                                            <!-- <div class="product__action">
                                                <div class="inner__action">
                                                    <div class="wishlist">
                                                        <a href="#"><i class="fal fa-heart"></i></a>
                                                    </div>
                                                    <div class="view">
                                                        <a href="javascript:void(0)"><i class="fal fa-eye"></i></a>
                                                    </div>
                                                    <div class="layer">
                                                        <a href="#"><i class="fal fa-layer-group"></i></a>
                                                    </div>
                                                </div>
                                            </div> -->
                                        <!-- </div>
                                    </div>
                                </div>

                            </div>
                        </div> -->
                    <!-- </div>
                </div>
            </div>
        </div>
    </div> --> 
    <!-- new product area end -->

    <!-- blog area start -->
    <!-- <div class="blog-area mb-100">
        <div class="container">
            <div class="section-wrapper text-center mb-35">
                <h2 class="section-title"><a href="blog.html">from our blog</a></h2>
                <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus sem primis<br> eget maecenas sed urna
                    malesuada.</p>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="blog" style="background-image: url('/user/assets/img/blog/9.jpg');">
                        <div class="blog__content">
                            <span class="mb-15">Shoes, Clothing</span>
                            <h3 class="blog-title "><a href="blog.html">Mauris rhoncus aliquet purus</a></h3>
                            <p>By Erentheme /<span>September 16, 2019</span></p>
                            <a href="blog.html">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="bpost">
                        <div class="bpost__thumb">
                            <img src="/user/assets/img/blog/blog1.jpg" alt="blog_post">
                        </div>
                        <div class="bpost__content">
                            <span>Shoes, Clothing</span>
                            <h3 class="blog-title title-2"><a href="blog.html">Simple & Easy DIY Flower Deco</a></h3>
                            <p>By <span>Erentheme </span>/September 16, 2019</p>
                            <p>Sapien luctus id justo suscipit nonummy eget hymenaeos...</p>
                        </div>
                    </div>
                    <div class="bpost">
                        <div class="bpost__thumb">
                            <img src="/user/assets/img/blog/blog2.jpg" alt="blog_post">
                        </div>
                        <div class="bpost__content">
                            <span>Shoes, Clothing</span>
                            <h3 class="blog-title title-2"><a href="blog.html">Take A Look At The Most Photo</a></h3>
                            <p>By <span>Erentheme </span>/September 16, 2019</p>
                            <p>Sapien luctus id justo suscipit nonummy eget hymenaeos...</p>
                        </div>
                    </div>
                    <div class="bpost m-0">
                        <div class="bpost__thumb">
                            <img src="/user/assets/img/blog/blog3.jpg" alt="blog_post">
                        </div>
                        <div class="bpost__content">
                            <span>Shoes, Clothing</span>
                            <h3 class="blog-title title-2"><a href="blog.html">Mauris rhoncus aliquet purus</a></h3>
                            <p>By <span>Erentheme </span>/September 16, 2019</p>
                            <p>Sapien luctus id justo suscipit nonummy eget hymenaeos...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- blog area end -->

    <!-- gallary area start  -->
    <!-- <div class="gallary_area">
        <div class="gallary__thumb">
            <a href="shop"><img src="/user/assets/img/gallary/gallary6.jpg" alt="gallaryImage"></a>
        </div>
        <div class="gallary__thumb">
            <a href="shop"><img src="/user/assets/img/gallary/gallary1.jpg" alt="gallaryImage"></a>
        </div>
        <div class="gallary__thumb">
            <a href="shop"><img src="/user/assets/img/gallary/gallary2.jpg" alt="gallaryImage"></a>
        </div>
        <div class="gallary__thumb">
            <a href="shop"><img src="/user/assets/img/gallary/gallary3.jpg" alt="gallaryImage"></a>
        </div>
        <div class="gallary__thumb">
            <a href="shop"><img src="/user/assets/img/gallary/gallary4.jpg" alt="gallaryImage"></a>
        </div>
        <div class="gallary__thumb">
            <a href="shop"><img src="/user/assets/img/gallary/gallary5.jpg" alt="gallaryImage"></a>
        </div>
    </div> -->
    <!-- gallary area end  -->

    <!-- popup area start -->
    <div class="overlay"></div>
    <div class="product-popup">
        <div class="view-background">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="quickview">
                        <div class="quickview__thumb">
                            <img src="/user/assets/img/quick_view/25.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="viewcontent">
                        <div class="viewcontent__header">
                            <h2>Brown Leather Bags</h2>
                            <a class="view_close product-p-close" href="javascript:void(0)"><i
                                    class="fal fa-times-circle"></i></a>
                        </div>
                        <div class="viewcontent__rating">
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="viewcontent__price">
                            <h4><span>$</span>99.00</h4>
                        </div>
                        <div class="viewcontent__stock">
                            <h4>Available :<span> In stock</span></h4>
                        </div>
                        <div class="viewcontent__details">
                            <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium
                                risus lacinia vel. Fusce eget turpis orci.</p>
                        </div>
                        <div class="viewcontent__action">
                            <span>Qty</span>
                            <span><input type="number" placeholder="1"></span>
                            <span><a href="#">add to cart</a></span>
                            <span><i class="fal fa-heart"></i></span>
                            <span><i class="fal fa-info-circle"></i></span>
                        </div>
                        <div class="viewcontent__footer">
                            <ul>
                                <li>Category:</li>
                                <li>SKU:</li>
                                <li>Brand:</li>
                            </ul>
                            <ul>
                                <li>Watches</li>
                                <li>2584-MK63</li>
                                <li>Brenda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popup area end -->

    <!-- < include('../includes/footer') %> -->