<!-- < include('../includes/header') %> -->

<!-- <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 d-none d-sm-block">
    <div class="gota_search">
        <form class="search_form">
            <button class="search_action"><i
                    class="fal fa-search d-sm-none d-md-block"></i></button>
            <input type="text" placeholder="search" />
        </form>
    </div>
</div> -->

<div class="search_area">
    <div class="search_close">
        <span><i class="fal fa-times"></i></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="search-wrapper text-center">
                    <h2>search</h2>
                    <div class="search-filtering pt-30">

                        <div class="search_tab">
                            <ul class="nav nav-tabs justify-content-center mb-55" id="anytab" role="tablist">
                                

                            </ul>
                           
                        </div>
                    </div>
                    <div class="main_search">
                        <form action="#">
                            <input type="text" name="search" placeholder="search products">
                            <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- breadcrumb area start -->
<div class="page-layout" data-background="/user/assets/img/slider/shop.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-area text-center">
                    <h2 class="page-title">shop</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- shop page start -->
<div class="shop-page pt-85">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="sidebar">

                    <div class="product-widget">
                        <h3 class="widget-title mb-30">Product categories</h3>
                        <ul  class="product-categories">
                            <% if (category.length>0) { %> <% if(category.length> 1) { %>
                                    <li><a href="/shop">All Categories</a></li>
                                    <% } %>
                                        <% category.forEach(element=> { %>
                                            <li>
                                                <a href="/shop?p=<%= currentPage %>&category=<%= element.categoryName %>"
                                                    <% if (selectedCategory && selectedCategory.length>0) { %> class="
                                                    <%= selectedCategory.includes(element._id) ? 'text-dark' : '' %>" <%
                                                            } %>> <%= element.categoryName %>
                                                                <%if(element.offer){%><span class="text-danger">
                                                                        <%=element.offer%>% off
                                                                    </span>
                                                                    <%}%>
                                                </a>
                                            </li>
                                            <% }); %>
                                                <% } else { %>
                                                    <h3>NO CATEGORIES</h3>
                                                    <% } %>
                        </ul>
                    </div>
                    <div class="product-widget">
                        <h3 class="widget-title mb-30">Filter</h3>
                        <ul class="product-categories">
                            <li><a href="/shop"><span> Default </span></a></li>
                            <li><a href="" id="lowToHigh"><span> Low to High</span> </a></li>
                            <li><a href="" id="highToLow"><span> High to low </span></a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <div class="shop-top-bar position-relative">
                    <!-- <div class="showing-result">
                            <p> Showing all 21 results</p>
                        </div> -->
                    <div class="shop-tab">
                        <nav>
                            <div class="nav nav-tabs shop-tabs" id="nav-tab" role="tablist">
                                <button>
                                    <span>views</span>
                                </button>
                                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                    aria-selected="true">
                                    <img src="/user/assets/img/essential/i2.svg" alt="">
                                </button>
                                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">
                                    <img src="/user/assets/img/essential/i3.svg" alt="">
                                </button>
                                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">
                                    <img src="/user/assets/img/essential/i4.svg" alt="">
                                </button>
                                <button class="nav-link" id="nav-contact-tab2" data-bs-toggle="tab"
                                    data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-contact"
                                    aria-selected="false">
                                    <img src="/user/assets/img/essential/list.svg" alt="">
                                </button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="shop-page-product pt-50 pb-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="row">

                                        <% products.forEach(product=> { %>

                                            <div class="col-xl-6">
                                                <div class="product product-4">
                                                    <div class="product__thumb">
                                                        <a href="/viewProduct/<%= product?._id %>">
                                                            <img class="product-primary"
                                                                src="<%= product.images[0]?.thumbnailUrl %>"
                                                                alt="product_image">
                                                            <img class="product-secondary"
                                                                src="<%= product.images[1]?.imageUrl %>"
                                                                alt="product_image">
                                                        </a>
                                                        <!-- <div class="product__update">
                                                            <a class="#">new</a>
                                                        </div> -->
                                                        <div class="product-info mb-10">
                                                            <div class="product_category">
                                                                <span>
                                                                    <%= product?.description %>
                                                                </span>
                                                            </div>
                                                            <div class="product_rating">
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="product__name">
                                                            <h4><a href="/viewProduct/<%= product?._id %>">
                                                                    <%= product?.title %>
                                                                </a>
                                                                <br>
                                                                <p><%=product.categoryName.categoryName%></p>
                                                            </h4>
                                                            <div class="pro-price">
                                                                <p class="p-absoulute pr-1"><span>$</span>
                                                                    <%=product?.salePrice %>
                                                                </p>

                                                                <p class="p-absoulute pr-1">
                                                                    <%=product?.category %>
                                                                </p>
                                                               
                                                            </div>
                                                            <% if(product.quantity<=0){%>
                                                                <div class="unavailable-container">
                                                                    <p class="unavailable ">Currently Unavailable</p>
                                                                </div>
                                                                <% }%>
                                                        </div>
                                                        <div class="product__action">
                                                            <div class="inner__action">
                                                                <div class="wishlist">
                                                                    <a href="#"><i class="fal fa-heart"></i></a>
                                                                </div>
                                                                <div class="view">
                                                                    <a href="javascript:void(0)"><i
                                                                            class="fal fa-eye"></i></a>
                                                                </div>
                                                                <div class="layer">
                                                                    <a href="#"><i class="fal fa-layer-group"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <% }) %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">
                                    <div class="row">

                                        <% products.forEach(product=> { %>


                                            <div class="col-xl-4">
                                                <div class="product product-4">
                                                    <div class="product__thumb">
                                                        <a href="/viewProduct/<%= product?.id %>">
                                                            <img class="product-primary"
                                                                src="<%= product.images[0]?.thumbnailUrl %>"
                                                                alt="product_image">
                                                            <img class="product-secondary"
                                                                src="<%= product.images[1]?.imageUrl %>"
                                                                alt="product_image">
                                                        </a>
                                                        <!-- <div class="product__update">
                                                            <a class="#">new</a>
                                                        </div> -->
                                                        <div class="product-info mb-10">
                                                            <div class="product_category">
                                                                <span>
                                                                    <%= product?.description %>
                                                                </span>
                                                            </div>
                                                            <div class="product_rating">
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="product__name">
                                                            <h4><a href="/viewProduct/<%= product?.id %>">
                                                                    <%= product?.title %>
                                                                </a>
                                                                <br>
                                                                <p><%=product.categoryName.categoryName%></p>
                                                            </h4>
                                                            <div class="pro-price">
                                                                <p class="p-absoulute pr-1"><span>$</span>
                                                                    <%=product?.salePrice %>
                                                                </p>
                                                                <p> <%=product?.category %></p>
                                                               
                                                            </div>
                                                        </div>
                                                        <div class="product__action">
                                                            <div class="inner__action">
                                                                <div class="wishlist">
                                                                    <a href="#"><i class="fal fa-heart"></i></a>
                                                                </div>
                                                                <div class="view">
                                                                    <a href="javascript:void(0)"><i
                                                                            class="fal fa-eye"></i></a>
                                                                </div>
                                                                <div class="layer">
                                                                    <a href="#"><i class="fal fa-layer-group"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">
                                    <div class="row">
                                        <% products.forEach(product=> { %>
                                            <div class="col-xl-3">
                                                <div class="product product-3">
                                                    <div class="product__thumb">
                                                        <a href="/viewProduct/<%= product?.id %>">
                                                            <img class="product-primary"
                                                                src="<%= product.images[0]?.thumbnailUrl %>"
                                                                alt="product_image">
                                                            <img class="product-secondary"
                                                                src="<%= product.images[1]?.imageUrl %>"
                                                                alt="product_image">
                                                        </a>
                                                        <!-- <div class="product__update">
                                                            <a class="#">new</a>
                                                        </div> -->
                                                        <div class="product-info mb-10">
                                                            <div class="product_category">
                                                                <span>
                                                                    <%= product?.description %>
                                                                </span>
                                                            </div>
                                                            <div class="product_rating">
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star start-color"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                                <a href="#"><i class="fal fa-star"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="product__name">
                                                            <h4><a href="/viewProduct/<%= product?.id %>">
                                                                    <%= product?.title %>
                                                                </a>
                                                                <br>
                                                                <p><%=product.categoryName.categoryName%></p>
                                                                
                                                            </h4>
                                                            <div class="pro-price">
                                                                <p class="p-absoulute pr-1"><span>$</span>
                                                                    <%=product?.salePrice %>
                                                                </p>
                                                                <p>
                                                                    <%=product?.category%>
                                                                </p>

                                                              
                                                            </div>
                                                        </div>
                                                        <div class="product__action">
                                                            <div class="inner__action">
                                                                <div class="wishlist">
                                                                    <a href="#"><i class="fal fa-heart"></i></a>
                                                                </div>
                                                                <div class="view">
                                                                    <a href="javascript:void(0)"><i
                                                                            class="fal fa-eye"></i></a>
                                                                </div>
                                                                <div class="layer">
                                                                    <a href="#"><i class="fal fa-layer-group"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-list" role="tabpanel"
                                    aria-labelledby="nav-contact-tab">

                                    <% products.forEach(product=> { %>
                                        <div class="border-top">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-4">
                                                    <div class="list-product">
                                                        <div class="list__thumb">
                                                            <a href="/viewProduct/<%= product?.id %>"><img
                                                                    src="<%= product.images[0].thumbnailUrl %>"
                                                                    alt=""></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-8 col-lg-8 col-md-8">
                                                    <div class="list__content">
                                                        <div class="viewcontent">
                                                            <div class="viewcontent__header">
                                                                <a href="/viewProduct/<%= product?.id %>">
                                                                    <h2 class="mb-10">
                                                                        <%= product?.title %>
                                                                        <br>
                                                                        <p><%=product.categoryName.categoryName%></p>
                                                                    </h2>
                                                                </a>
                                                            </div>
                                                            <div class="viewcontent__rating">
                                                                <i class="fal fa-star ratingcolor"></i>
                                                                <i class="fal fa-star ratingcolor"></i>
                                                                <i class="fal fa-star ratingcolor"></i>
                                                                <i class="fal fa-star"></i>
                                                            </div>
                                                            <div class="viewcontent__price">
                                                                <h4><span>$</span>
                                                                    <%=product?.salePrice %>
                                                                </h4>
                                                                <h4>
                                                                    <%=product?.category %>
                                                                </h4>
                                                            </div>
                                                            <div class="view__para">
                                                                <p>
                                                                    <%= product?.description %>
                                                                </p>
                                                            </div>
                                                            <div class="list-actions pt-20">
                                                                <div class="viewcontent__action">
                                                                    <span><a href="#">add to cart</a></span>
                                                                    <a href="#"><i class="fal fa-heart"></i></a>
                                                                    <a class="ml-5" href="#"><i
                                                                            class="fal fa-layer-group"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-style mt-30 text-center">
                    <ul>
                      <% if (currentPage > 1) { %>
                      <li>
                        <a href="?p=<%= parseInt(currentPage) - 1 %>"><i class="ti-angle-left"></i></a>
                      </li>
                      <% } else { %>
                      <li class="disabled">
                        <span><i class="ti-angle-left"></i></span>
                      </li>
                      <% } %>
                      <% for (let i=1; i <=totalPages; i++) { %>
                      <li class="<%= i === currentPage ? 'active' : '' %>">
                        <a href="?p=<%= i %>">
                          <%= i %>
                        </a>
                      </li>
                      <% } %>
                      <% if (currentPage < totalPages) { %>
                      <li>
                        <a href="?p=<%= parseInt(currentPage) + 1 %>">
                          <i class="ti-angle-right"></i></a>
                      </li>
                      <% } else { %>
                      <li class="disabled">
                        <span><i class="ti-angle-right"></i></span>
                      </li>
                      <% } %>
                    </ul>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- shop page end -->

<!-- search area  -->
<div class="search_area">
    <div class="search_close">
        <span><i class="fal fa-times"></i></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="search-wrapper text-center">
                    <h2>search</h2>
                    <div class="main_search">
                        <form>
                            <input type="text" name="search" placeholder="search products"  id="search" >
                            <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popup area start -->
<div class="overlay"></div>
<div class="product-popup">
    <div class="view-background">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5">
                <div class="quickview">
                    <div class="quickview__thumb">
                        <img src="/user/assets/img/quick_view/25.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7">
                <div class="viewcontent">
                    <div class="viewcontent__header">
                        <h2>Brown Leather Bags</h2>
                        <a class="view_close product-p-close" href="javascript:void(0)"><i
                                class="fal fa-times-circle"></i></a>
                    </div>
                    <div class="viewcontent__rating">
                        <i class="fal fa-star ratingcolor"></i>
                        <i class="fal fa-star ratingcolor"></i>
                        <i class="fal fa-star ratingcolor"></i>
                        <i class="fal fa-star"></i>
                    </div>
                    <div class="viewcontent__price">
                        <h4><span>$</span>99.00</h4>
                    </div>
                    <div class="viewcontent__stock">
                        <h4>Available :<span> In stock</span></h4>
                    </div>
                    <div class="viewcontent__details">
                        <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium
                            risus lacinia vel. Fusce eget turpis orci.</p>
                    </div>
                    <div class="viewcontent__action">
                        <span>Qty</span>
                        <span><input type="number" placeholder="1"></span>
                        <span><a href="#">add to cart</a></span>
                        <span><i class="fal fa-heart"></i></span>
                        <span><i class="fal fa-info-circle"></i></span>
                    </div>
                    <div class="viewcontent__footer">
                        <ul>
                            <li>Category:</li>
                            <li>SKU:</li>
                            <li>Brand:</li>
                        </ul>
                        <ul>
                            <li>Watches</li>
                            <li>2584-MK63</li>
                            <li>Brenda</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='./user/assets/js/shop/shop.js'></script>
<!-- < include('../includes/footer') %> -->
<style>
    .pagination-style {
      margin-top: 30px;
      text-align: center;
    }

    .pagination-style ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pagination-style ul li {
      margin: 0 5px;
    }

    .pagination-style ul li a,
    .pagination-style ul li span {
      display: inline-block;
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .pagination-style ul li a:hover {
      background-color: #eee;
    }

    .pagination-style ul li.disabled a,
    .pagination-style ul li.disabled span {
      cursor: not-allowed;
    }

    .pagination-style ul li.active a,
    .pagination-style ul li.active span {
      background-color: #ccc;
    }
  </style>