<!-- <include('../includes/header') %> -->

<!-- Add jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="container mt-4">
  <h1 class="text-center mb-3">Product Management</h1>

  <table class="table"  id="productTable">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Sold</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach((product, index) => { %>
        <tr>
          <td>
            <img src="<%= product.images && product.images[0] && product.images[0].thumbnailUrl ? product.images[0].thumbnailUrl : 'placeholder-image-url.jpg' %>" alt="Product Image" class="img-fluid rounded">
          </td>
          <td>
            <h4>
              <% if (product.title.length > 15) { %>
                <%= product.title.substring(0, 15) + "..." %>
              <% } else { %>
                <%= product.title %>
              <% } %>
            </h4>
          </td>
          <td><%= product?.categoryName?.categoryName %></td>
          <td><%= product.description %></td>
          <td>$<%= product.salePrice %></td>
          <td><%= product.quantity %></td>
          <td><%= product.sold %></td>
          <td>
            <div class="d-flex justify-content-end">
              <a href="/admin/product/editProduct/<%= product._id %>" class="btn btn-primary btn-lg me-2">
                <i class="bi bi-pencil"></i> Edit
              </a>
              <% if (product.isListed) { %>
                <form method="post" action="/admin/product/unlist/<%= product._id %>">
                  <button type="submit" class="btn btn-success btn-lg">
                    <i class="bi bi-check"></i> Unlist
                  </button>
                </form>
              <% } else { %>
                <form method="post" action="/admin/product/list/<%= product._id %>">
                  <button type="submit" class="btn btn-danger btn-lg">
                    <i class="bi bi-x"></i> List
                  </button>
                </form>
              <% } %>
            </div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<style>
  body {
    background-color: #f8f9fa;
  }

  .container {
    margin-top: 30px;
  }

  .list-group-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s;
  }

  .list-group-item:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
</style>

<script>
  $(document).ready(function () {
      $("#productTable").DataTable();
  });
</script>

<!-- < include('../includes/footer') %> -->
